/*************************************************************
******************* About This Style Sheet *******************
**************************************************************

__Sections__
1. Imports
2. HTML Base Styling
3. Modifiers
4. Component Styles
5. Animations


/*************************************************************
*************************************************************/
////////////////
// 1. IMPORTS //
////////////////

@import url('https://fonts.googleapis.com/css?family=Nunito:400,700,900&display=swap');
 

// Dark Theme, or 'dt'
$DT-black: #001011;
$DT-white: #F2F2E6;
$DT-orange: #ED6767;
$DT-purple: #793F5C;



//////////////
// 2. HTML //
/////////////


html {
  font-size: 10px;
}

body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  background: $DT-black;
  color: $DT-white;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2.2rem;
}
h4 {
  font-size: 1.8rem;
}

p {
  font-size: 1.4rem;
}

a {
  color: $DT-white;
  text-decoration: none;
  text-emphasis: none;
  color: $DT-purple;
}

a:hover {
  color: $DT-white;
}

//////////////////
// 3. Modifiers //
//////////////////

.active {
  color: $DT-orange;
}

.fa {
  text-align: center;
  color: $DT-orange;
  padding: 4px;
  margin: 5px 2px;
  font-size: 4rem;
  width: 80px;
  height: 80px;
}
.fa:hover {
  color: $DT-white;
  cursor: pointer;
}

///////////////////
// 4. Components //
///////////////////

.app {
  // Grid settings for desktop
  display: grid;
  grid-template-columns: 1.7fr 0.3fr;
  grid-template-rows: 1.7fr 0.3fr;
  grid-template-areas: "jumbo navbar" "footer footer";
  height: 100vh;
  width: 100vw;
  position: fixed;
}
  
.jumbo {
  grid-area: jumbo;

  h1 {
    font-size: 7rem;
    font-weight: 300;
    text-align: center;
  }
  .logo {
    -webkit-animation: focus-in-expand 1.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: focus-in-expand 1.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
}

.navbar {
  grid-area: navbar; 
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  a {
    font-size: 3.5rem;
  }

  -webkit-animation: slide-in-right 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) .8s both;
  animation: slide-in-right 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) .8s both;
}

.footer { 
  grid-area: footer;

  -webkit-animation: slide-in-bottom 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) .8s both;
	animation: slide-in-bottom 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) .8s both;
}


///////////////////
// 5. Animations //
///////////////////

// << JUMBO >> \\
@-webkit-keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

// << NAVBAR >> \\
@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

// << FOOTER >> \\
@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}